apiVersion: apps/v1
kind: Deployment
metadata:
  name: pihole-vpn
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pihole
  template:
    metadata:
      labels:
        app: pihole
    spec:
      tolerations:
        - key: "hardware"
          operator: "Equal"
          value: "low-power"
          effect: "NoSchedule"
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: kubernetes.io/hostname
                    operator: In
                    values:
                      - paimon
      containers:
        - name: gluetun
          image: qmcgaw/gluetun:latest
          securityContext:
            capabilities:
              add: ["NET_ADMIN"]
          envFrom:
            - secretRef:
                name: protonvpn-secret
          env:
            - name: DNS_SERVER
              value: "off"
            - name: DNS_KEEP_NAMESERVER
              value: "on"
            - name: HTTP_CONTROL_SERVER_ADDRESS
              value: ":8000"

        - name: pihole
          image: pihole/pihole:latest
          env:
            - name: TZ
              value: "America/Detroit"
            - name: WEBPASSWORD
              value: "admin"
            - name: FT_DNS1
              value: "1.1.1.1"
          # --- 1. ADD THIS SECTION ---
          volumeMounts:
            - name: pihole-config
              mountPath: /etc/pihole
            - name: dnsmasq-config
              mountPath: /etc/dnsmasq.d

      # --- 2. ADD THIS SECTION AT THE END ---
      volumes:
        - name: pihole-config
          persistentVolumeClaim:
            claimName: pihole-config-pvc
        - name: dnsmasq-config
          persistentVolumeClaim:
            claimName: pihole-dnsmasq-pvc
