apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus-stack
  namespace: argocd
spec:
  project: default
  source:
    chart: kube-prometheus-stack
    repoURL: https://prometheus-community.github.io/helm-charts
    targetRevision: 61.3.2 # Pinning the version is good practice
    helm:
      releaseName: kube-prometheus-stack
      values: |
        # RAM Saving configs for Homelab
        alertmanager:
          alertmanagerSpec:
            replicas: 1
        prometheus:
          prometheusSpec:
            replicas: 1
            retention: 10d  # Keep data for 10 days
        grafana:
          replicas: 1
          # We will configure Ingress later, keep false for now
          ingress:
            enabled: false
  destination:
    server: "https://kubernetes.default.svc"
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true # Automatically creates the "monitoring" namespace
      - ServerSideApply=true # Fixes "Too long" error for massive CRDs
