apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: jellyfin
  namespace: argocd
spec:
  project: default
  source:
    repoURL: "https://github.com/CoreyC315/homelab-devops.git"
    path: kubernetes/apps/jellyfin # Ensure this matches your actual folder path
    targetRevision: main
  destination:
    server: "https://kubernetes.default.svc"
    namespace: default # Same namespace as my storage/deployment files
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
