#Please make the namespace for longhorn. Call it "longhorn-system"
#idk why its working to make the namespace use this "kubectl create ns longhorn-system"
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: longhorn
  namespace: argocd
spec:
  project: default
  source:
    chart: longhorn
    repoURL: https://charts.longhorn.io
    targetRevision: 1.7.2 # Use the latest stable version
    helm:
      values: |
        preUpgradeChecker:
          jobEnabled: false
        persistence:
          defaultClassReplicaCount: 1 
        ingress:
          enabled: true
          host: longhorn.local
          ingressClassName: nginx
          serviceName: longhorn-frontend
          servicePort: 80 # This matches the ClusterIP service you found earlier
          annotations:
            kubernetes.io/ingress.class: nginx
          path: /
          pathType: ImplementationSpecific
  destination:
    server: https://kubernetes.default.svc
    namespace: longhorn-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    createNamespace: true
