apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: irminsul-records-pvc # This is your shared media storage
  namespace: default
spec:
  accessModes:
    - ReadWriteMany # Required so both apps can "read" the records
  storageClassName: longhorn
  resources:
    requests:
      storage: 10Gi # Increase this later when you get the new hardware!
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: akasha-config-pvc # This stores Jellyfin's personal memory (database)
  namespace: default
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 5Gi
