apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jellyfin-config-pvc
  namespace: default
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 20Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jellyfin-media-pvc
  namespace: default
spec:
  accessModes:
    - ReadWriteMany # Allows multiple pods to access your media if needed
  storageClassName: longhorn
  resources:
    requests:
      storage: 100Gi # Adjust based on your library size
