# kubernetes/apps/filebrowser/filebrowser.yaml
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: filebrowser-instance
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://filebrowser.github.io/charts
    chart: filebrowser
    targetRevision: 6.0.0
    helm:
      values: |
        persistence:
          enabled: true
          storageClass: "longhorn"
          size: 10Gi
        ingress:
          enabled: true
          ingressClassName: nginx
          annotations:
            kubernetes.io/ingress.class: nginx
          hosts:
            - host: files.local
              paths:
                - path: /
                  pathType: ImplementationSpecific
  destination:
    server: "https://kubernetes.default.svc"
    namespace: default
