apiVersion: v1
kind: ConfigMap
metadata:
  name: glance-config
  namespace: glance
data:
  glance.yml: |
    theme:
      background-color: "240 240 10"  
      primary-color: "0 0 100"       
    pages:
      - name: Home
        columns:
          - size: full
            widgets:
              - type: clock
                hour-format: 12h
